<h1 style="text-align: center;padding-top: 50px; font-family: 'Arial';
 font-size: 2.5em;background-color: darkgray;
 padding-bottom: 50px;">
  QSE - Queens Search Engine <h1>

<div style="text-align: center;
    padding-bottom: 100%;
    ">
    <span style = "font-family: 'Arial';
     font-size: 0.5em;">Enter a url to scrape then click 'Scrape' to view results<span>
<form action="scraper">
  <input style="width: 50%;
    padding: 5px;
    border-radius: 10px;
    border-style: groove;" name="q">
  <input style="padding: 5px;
    border-radius: 10px;
    border-style: groove;" type="submit" value="Scrape">
</form>
</div>
